body{
    text-align: center;
    overflow: hidden;

    /* Keyword values */
user-select: none;

/* Global values */
user-select: inherit;


/* Mozilla-specific values */
-moz-user-select: none;


/* WebKit-specific values */
-webkit-user-select: none;

/* Microsoft-specific values */
-ms-user-select: none;

}




@font-face {
    font-family: myfont;
    src: url(../img/icon/wt014.ttf);
  }

table{
    margin: auto;
}

div.stage{
    left: 0; 
    right: 0; 
    
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
}

div.stage span:nth-child(1), div.stage span:nth-child(3){
    border-radius: 100%;
    top: 3vh;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    color: rgb(224, 240, 255);
    text-shadow: 3px 2px rgb(26, 26, 26);
    position: relative;
    z-index: 20;
    border:2px solid white;
}

div.stage span:nth-child(2){
    padding: 20px;
    top: 3vh;
    font-size: large;
    font-weight: bold;
    color: rgb(224, 240, 255);
    text-shadow: 4px 1px rgb(26, 26, 26);
    border-radius: 100%;
    background-size: 400px;
    background-position: 104px 1000px;
    position: relative;
    z-index: 20;
    border:4px solid white;
}

canvas{

    z-index: 1;
}


/* div.heroSkill div:nth-child(2) button{
   
    color: rgba(170, 170, 170, 0.637);
} */

/* 下面四個同屬一個區域 */

@media screen and (max-width: 768px){
    div.hideBlock{
        width: 100%;
    }

}

@media screen and (min-width: 768px){
    div.hideBlock{
        width: 60%;
    }

}
div.hideBlock{
    position: relative;
    height: 22vh;
}



div.hideBlock, div.hideBlock div{
    left: 0; 
    right: 0; 
    top:-25px;
    margin-left: auto; 
    margin-right: auto; 
}



div.actSkill{
    position: absolute;
    top: -10px;
}

div.actSkill span{
    top: 2vh;
    visibility: hidden;
    border-radius: 100%;
    padding: 2vh;
    position: relative;
    z-index: 20;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    font-weight: bold;
    /* background-color: white; */
}

span#actBTN_A{
    background-image: url(../img/icon/fortune.png);
}
span#actBTN_B{
    background-image: url(../img/icon/wild.png);
}


div.heroSkill img{
    width: 4vh;
    
}

div.creatureSkill img{
    width: 5vh;
    
}

div.bascInfo{
    font-family: myfont;
    font-size: large;
    padding: 8vh 0;
    height: 25vh;
    background-size: contain;
    background-image: url(../img/grass.png);
    position: absolute;
}


div.creatureSkill td{
    background-color: gray;
}

.borderPan{
    margin-top: 8vh;
    height: 20vh;
    visibility: hidden;
    position: absolute;
    overflow-y: scroll;

    border:10px solid green;
    background-image: url(../img/base2.png);
    background-size: contain
}

button{
    border-radius: 20%;
}


div.changePanel {
    position: relative;
}


div.HSkillDetail{
    display: none;
}

.selectBTN{
    background-color: green;
}

