body{
    text-align: center;
}

table{
    margin: auto;
}

div.stage span:nth-child(1), div.stage span:nth-child(3){
    border-radius: 100%;
    top: 2vh;
    padding: 1vh;
    background-color: red;
    position: relative;
    z-index: 20;
}

div.stage span:nth-child(2){
    padding: 2vh;
    top: 4vh;
    border-radius: 100%;
    background-color: red;
    position: relative;
    z-index: 20;
}

canvas{
    z-index: 1;
}


/* div.heroSkill div:nth-child(2) button{
   
    color: rgba(170, 170, 170, 0.637);
} */

/* 下面四個同屬一個區域 */

@media screen and (max-width: 768px){

    div.hideBlock{

        background-color: red;
        width: 100%;
    }

}

@media screen and (min-width: 768px){

    div.hideBlock{

        background-color: yellow;
        width: 60%;
    }

}
div.hideBlock{
    position: relative;
    top:-70px;
/* 這邊要分螢幕大小 */
    /* background-color: yellow; */
    /* width: 50%; */
    height: 20vh;
}



div.hideBlock, div.hideBlock div{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}


div.bascInfo{
    padding: 7vh 0;
    height: 25vh;
    /* background-color: white; */
    position: absolute;
}


div.actSkill{
    position: absolute;
    top: -10px;
}

div.actSkill span{
    top: 2vh;
    visibility: hidden;
    border-radius: 100%;
    padding: 3vh;
    position: relative;
    z-index: 20;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    font-weight: bold;
    /* background-color: white; */
}

span#actBTN_A{
    background-image: url(../img/icon/fortune.png);
}
span#actBTN_B{
    background-image: url(../img/icon/wild.png);
}




div.heroSkill{
    padding: 7vh 0;
    height: 25vh;
    visibility: hidden;
    position: absolute;
    background-color: white;
}
div.creatureSkill{
    padding: 7vh 0;
    height: 25vh;
    visibility: hidden;
    position: absolute;
    background-color: white;
    overflow-y: scroll;
}




div.changePanel {
    position: relative;
}


div.HSkillDetail{
    display: none;
}