@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
  background: url(../img/space.jpg),black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "cwTeXYen", sans-serif;
}

label{
  font-weight: bold;
}

.divBK{
  position: relative;
}

@media screen and (min-width: 768px){
  .formPlace{
    padding: 10px;
    margin: auto;
    /* text-align: center; */
    border-radius: 5%;
    background-color: rgb(236, 236, 236, 0.5);
    /* margin-top: 10vh; */
    width: 35%;
    height: 100%;
  }
  
  .ship{
    position: absolute;
    width: 20%;
    left: 10%;
    bottom: 10%;
    -webkit-filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    z-index: -10;
  }
}

@supports (-ms-ime-align: auto){
  .formPlace{
    background-color: rgb(236, 236, 236);
    opacity: 0.6;
  }
  .formPlace:hover{
    background-color: rgb(236, 236, 236);
    opacity: 1;
  }
  .ship{
    position: absolute;
    width: 20%;
    left: 10%;
    bottom: 10%;
    -webkit-filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
    z-index: -10;
  }
}

  @media screen and (max-width: 768px){
    .ship{
      position: absolute;
      width: 20%;
      right: 10%;
      top: 13%;
      -webkit-filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.7));
      z-index: -10;
    }
    .formPlace{
      /* text-align: center; */
      height: 100%;
      background-color: rgb(236, 236, 236, 0.5);
    }
  }

p.format{
  color: red;
  font-size: 12px;
}

.togame{
  text-align: center;
}