@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

        body {
            background: url('../img/member.png'), black;
            font-family: "cwTeXYen", sans-serif;
            background-repeat: repeat-x;
            text-align: center;
            color: white;
        }

        div.avdnav {
            margin: 10vh auto;
            text-align: center;
        }

        div.itemA, div.itemB{
            /* width: 50vw; */
            display: inline-block;
            vertical-align: middle;
        }

        div.itemB{
            /* vertical-align: middle; */
            width: 40vw;
        }
        div.itemA{
          text-align: center;
        }

        div.team{
            /* border: 1px solid white; */
            margin: 5% auto;
            width: 60vw;
            border-radius: 20px;
            background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
        }

        .animateR img{
            height: 10vh;
        }
        div.team:hover .animateR img{
            animation: rorotate linear 2s;
            animation-iteration-count: infinite;
            height: 10vh;
        }

        @keyframes rorotate{
            0% {
                transform: rotate(0turn);
              }
            10% {
                transform: rotate(0.1turn);
              }
            20% {
                transform: rotate(0.2turn);
              }
            60% {
                transform: rotate(0.6turn);
              }
            80% {
                transform: rotate(0.8turn);
              }
            90% {
                transform: rotate(0.9turn);
              }
            100% {
                transform: rotate(1turn);
              }
        }