<%- include("../private/header.html") %>
<div class="container"  id="app">


    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">訂購日期{{get_data()}}</th>
              <th scope="col">付款方式</th>
              <th scope="col">處理狀態</th>
              <th scope="col">總額</th>
              <th scope="col">取消</th>
            </tr>
          </thead>
          <tbody>
            
            
          </tbody>
    </table>
  </div> 
  <script>
    var vm = new Vue({
      el:'#app',
      data:{
        
      },
      methods:{

      }
    })
  </script>
    <%- include("../private/footer.html") %>