<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>時空賊</title>
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/game.css">
    <script src="js/popper.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
</head>
<body>
<!-- cog -->
<div class="optionsBtn">
    <input type="image" src="../img/icon/cog.png" onclick="showCog()">
    <input type="image" src="../img/icon/reward.png" >
    <input type="image" src="../img/icon/chat.png" onclick="chat()">
</div>


<!-- Stage -->
<div class="stage">
    <span>&ensp;&ensp;0</span>
    <span>&ensp;&ensp;1</span>
    <span>&ensp;&ensp;2</span>
</div>


<!-- Hero skill details -->

    
<p style="background-color:bule; width:100px" id="pbar">正在載入中....</p>

    <canvas></canvas>



<!-- 可隱藏板塊 固定 -->
<div class="hideBlock">

    <!-- panel of active skill -->
    <div class="actSkill">
        <span onclick="fortune.timeReset(this)"  id="actBTN_A">&ensp;&ensp;
        </span>
        <span onclick="wild.timeReset(this)" id="actBTN_B"> &ensp;&ensp;
        </span>
</div>

    <!-- basic information -->
    <div class="bascInfo">
        <p>目前每秒出傷害總和</p>
        <p>點擊攻擊力</p>
        <p>異生物 每秒輸出傷害總和</p>
        <br>
        <br>
    </div>


    <!-- panel of hero skill -->
    <div class="heroSkill borderPan">
        <div>
            <span><img src="../img/icon/origin.png" alt=""></span><span>原始之力</span>
            <span class="origin">lv.1</span>
            <button id="btn_01" onclick="levelUp('origin',0)">Level up</button>
        </div>
        <br>
        <div>
            <span><img src="../img/icon/fortune.png" alt="" onclick="showDetail(1)"></span><span>財富之力</span>
            <span class="fortune">lv.0</span>
            <button id="btn_02" onclick="levelUp('fortune',1)">Level up</button>
        </div>
        <br>
        <div>
            <span><img src="../img/icon/wild.png" alt=""  onclick="showDetail(2)"></span><span>蠻荒之力</span>
            <span class="wild">lv.0</span>
            <button id="btn_03" onclick="levelUp('wild',2)">Level up</button>
        </div>
    </div>    
        
    
    <!-- panel of creatures -->
    <div class="creatureSkill borderPan">   
        <table>
            <tr>
                <td rowspan="3"><img src="../img/icon/c1.jpg" alt=""></td>
                <td>小黃</td>
                <td></td>
                <td></td>
                <td rowspan="3"><button onclick="ClevelUp('monA',1)">升級</button></td>
            </tr>
            <tr>
                <td  class="monA">LV.0</td>
                <td>DPS:0</td>
                <td></td>
            </tr>
            <tr>
                <td class="skillIcons">升級條件</td>
                <td>金錢：</td>
                <td>等級：</td>

            </tr>
            <tr>
                <td rowspan="3"><img src="../img/icon/c2.jpg" alt=""></td>
                <td>小紫</td>
                <td></td>
                <td></td>
                <td rowspan="3"><button onclick="ClevelUp('monB',2)">升級</button></td>
            </tr>
            <tr>
                <td class="monB">LV.0</td>
                <td>DPS:0</td>
                <td></td>

            </tr>
            <tr>
                <td class="skillIcons">升級條件</td>
                <td>金錢：</td>
                <td>等級：</td>

            </tr>
            <tr>
                <td rowspan="3"><img src="../img/icon/c3.jpg" alt=""></td>
                <td>小藍</td>
                <td></td>
                <td></td>
                <td rowspan="3"><button  onclick="ClevelUp('monC',3)">升級</button></td>
            </tr>
            <tr>
                <td class="monC">LV.0</td>
                <td>DPS:0</td>
                <td></td>

                
            </tr>
            <tr>
                <td class="skillIcons">升級條件</td>
                <td>金錢：</td>
                <td>等級：</td>

            </tr>

        </table>
    </div>

    <div class="diamond borderPan">
        <div><img src="../img/icon/treasure.png" alt=""><span id="damount">數量</span></div>
        <div><img src="../img/icon/give.png" alt=""> 獲得大量寶藏
        <button onclick="getmoney()">使用(20)</button></div>
        <div><img src="../img/icon/cold.png" alt=""> 所有技能冷卻歸零
        <button  onclick="coldtime()">使用(30)</button></div>
        <div><img src="../img/icon/death.png" alt=""> 即刻殺死眼前這個怪物
        <button onclick="killnow()">使用(40)</button></div>
    </div>

</div>





<!-- panel of change btn -->
<div class="changePanel">
<button id="btn_hero">英雄技能</button>
<button id="btn_creature">異生物</button>
<button id="btn_buy">道具購買</button>
</div>

<div class="HSkillDetail">
    <div class="description">技能說明: <span>持續時間</span><span>冷卻時間</span></div>
    <button onclick="closeDetail()">關閉</button>
</div>

<div class="cog">
    <div>
    <h1>遊戲設定</h1>
    <br>
    <hr>
    <label>背景音樂<br>
    <input type="image" src="../img/icon/bgmusic-off.png" onclick="bgPlay(this)"></label>
    <label>遊戲音效<br>
    <input type="image" src="../img/icon/audio-off.png" onclick="collisionClick(this)"></label>
    <label>返回首頁<br>
    <input type="image" src="../img/icon/return.png" onclick="goIndex()"></label>
    <label>繼續遊戲<br>
    <input type="image" src="../img/icon/continue.png" onclick="closeCog()"></label>
    </div>
</div>


<div class="chatroom">
    <div class="title">
        <p style="font-size: x-large;">遊戲聊天大廳</p>
        <button onclick="closeChat()" style="float: right;">離開聊天大廳</button>
    </div>
    <div class="chatmsg">
        <p>開始聊天....</p>
    </div>
    <form>
        <input type="text" id="myname" style="width: 20%;" placeholder="暱稱">
        <input type="text" id="message" style="width: 40%;" placeholder="訊息">
        <button onclick="spevent(event)">送出</button>
    </form>
</div>

  
    <script>
        //基本設定
        var canvas = document.querySelector('canvas');
        (window.innerWidth <= 768)? canvas.width = window.innerWidth: canvas.width = window.innerWidth/5*3;
        
        //高度必須固定 因此之後必須填寫數字
        canvas.height = window.innerHeight/2*1.4;
        var ctx = canvas.getContext('2d');
        //隨著螢幕大小調整畫布大小
        window.onresize = function r(){location.reload()};
        //測試畫面
        //ctx.fillRect(0, 0, canvas.width, canvas.height);
        const bk = new Image();
        bk.src = "./img/stage/stage1.jpg"
        const audioEffect = new Audio("../img/audio/effect.mp3");
        const BGmusic = new Audio("../img/audio/bkmusic.mp3");

        function showCog(){
        $("div.cog").css("display","block");
        }
        function closeCog(){
        $("div.cog").css("display","none");
        }

        function goIndex(){
            window.location.replace("/")
        }
        
    </script>


    <script src="js/monsters.js"></script>
    <script src="js/cha.js"></script>
    <script src="js/skill.js"></script>
    <script src="js/contorl.js"></script>
    <script src="js/contorl.js"></script>
</body>
</html>