<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/game.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
</head>
<body>
<!-- Stage -->
<div class="stage">
    <span>test</span>
    <span>test</span>
    <span>test</span>
</div>


    <canvas></canvas>




<!-- 可隱藏板塊 固定 -->
<div class="hideBlock">

    <!-- panel of active skill -->
    <div class="actSkill">
        <span >
            財
        </span>
        <span onclick="wild.timeReset(this)" id="actBTN_A">
            蠻
        </span>
</div>

    <!-- basic information -->
    <div class="bascInfo">
        <p>目前每秒出傷害總和</p>
        <p>點擊攻擊力</p>
        <p>異生物 每秒輸出傷害總和</p>
        <br>
        <br>
    </div>


    <!-- panel of hero skill -->
    <div class="heroSkill">
        <div>
            <span>img</span><span>原始之力</span><span class="origin">lv.1</span><button id="btn_01" onclick="levelUp('origin',0)">Level up</button>
        </div>
        <div>
            <span>img</span><span>財富之力</span><span class="fortune">lv.0</span><button id="btn_02" onclick="levelUp('fortune',1)">Level up</button>
        </div>
        <div>
            <span>img</span><span>蠻荒之力</span><span class="wild">lv.0</span><button id="btn_03" onclick="levelUp('wild',2)">Level up</button>
        </div>
    </div>    
            

    
    <!-- panel of creature -->
    <div class="creatureSkill">   
        <table>
            <tr>
                <td>img</td>
                <td>生物名稱</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>img</td>
                <td  class="monA">LV.0</td>
                <td>DPS:0</td>
                <td><button onclick="ClevelUp('monA',1)">升級</button></td>
            </tr>
            <tr>
                <td>img</td>
                <td class="skillIcons">icon icon</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>img</td>
                <td>生物名稱</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>img</td>
                <td class="monB">LV.0</td>
                <td>DPS:0</td>
                <td><button onclick="ClevelUp('monB',2)">升級</button></td>
            </tr>
            <tr>
                <td>img</td>
                <td class="skillIcons">icon icon</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>img</td>
                <td>生物名稱</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>img</td>
                <td class="monC">LV.0</td>
                <td>DPS:0</td>
                <td><button  onclick="ClevelUp('monC',3)">升級</button></td>
            </tr>
            <tr>
                <td>img</td>
                <td class="skillIcons">icon icon</td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>

</div>





<!-- panel of change btn -->
<div class="changePanel">
<button id="btn_hero">英雄技能</button>
<button id="btn_creature">異生物</button>
<button id="btn_buy">道具購買</button>
</div>


<!-- Hero skill details -->
<div class="HSkillDetail">
<p>img + 技能名稱</p>
<p>lv.___</p>
<div class="description">技能說明: <span>持續時間</span><span>冷卻時間</span></div>
<button id="debug_btn">debug</button>
</div>


<%= MeLv %>

  
    <script>
        //基本設定
        var canvas = document.querySelector('canvas');
        (window.innerWidth <= 768)? canvas.width = window.innerWidth: canvas.width = window.innerWidth/5*3;
        
        //高度必須固定 因此之後必須填寫數字
        canvas.height = window.innerHeight/2*1.4;
        var ctx = canvas.getContext('2d');
        //隨著螢幕大小調整畫布大小
        //reload會有問題！！因為是重新載入　如果沒去讀取資料庫　會出大問題
        //window.onresize = function r(){location.reload()};
        //測試畫面
        //ctx.fillRect(0, 0, canvas.width, canvas.height);
        var bk = new Image();
        bk.src = "./img/background.png"
    </script>


    <script src="js/monsters.js"></script>
    <script src="js/cha.js"></script>
    <script src="js/skill.js"></script>
    <script src="js/contorl.js"></script>
</body>
</html>