<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/space.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

    <img src="img/ship.png" alt=""  class="ship">

    <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#">首頁</a></li>
        <li><a href="#">遊戲介紹</a></li>
        <li><a href="#">最新消息</a></li>
        <li><a href="#">會員專區</a></li>
        <li><a href="#">周邊商品</a></li>
      </ul>

<div class="rightPlace">
<form action="">
    <p>Game Start</p>
    <div class="form-group mx-sm-3 mb-2">
        <label for="formGroupExampleInput">Account</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="請輸入帳號">
    </div>
    <br>
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="請輸入密碼">
      </div>
      <br>
      <button type="submit" class="btn btn-outline-success">登入</button>
      <button type="submit" class="btn btn-outline-success">註冊</button>
</form>
</div>
        
    

</body>
</html>