<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <link rel="stylesheet" href="../css/intro.css">
    <title>最新消息</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="../"><img src="../img/LOGO.png" alt="" style="height: 30px;"><img
                src="../img/title2.png" alt="" style="height: 30px;"></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/intro">遊戲介紹</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/news">最新消息</a>
                </li>
                <% if (userName) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/member/profile">會員專區</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/signout"><i class="fa fa-user" aria-hidden="true"></i>登出</a>
                </li>
                <% } else  { %>
                <li class="nav-item">
                    <a class="nav-link" href="/private/login"><i class="fa fa-user" aria-hidden="true"></i>
                        登入/註冊</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/member/shop">周邊商品</a>
                </li>
            </ul>
        </div>
    </nav>

    <img src="../img/how/news.png" alt="">

</body>
</html>