<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.4.1.min.js"></script>
    <title>Document</title>
</head>
<body>
    <p>hello</p>
    <p id="debug">content</p>

    <script>
        console.log($);
        var test;
        $(function(){
            $.get("/home/get_test", function (e) {
            HeroData = JSON.parse(e);
            console.log(HeroData);
            $("p#debug").text(HeroData[0].heroLv);
            })
        })
       
    </script>
</body>
</html>