<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>時空賊-周邊商品</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon.ico" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="../js/vue.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Demo styles -->
  <style>
    body {
      background-image:url('../img/cart.png');
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:white;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

    }
    div.carousel{
      margin: auto;
      width: 80%;
    }
    .card_self{
      text-align: center;
    }
    
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="../"><img src="../img/LOGO.png" alt="" style="height: 30px;"><img src="../img/title2.png" alt="" style="height: 30px;"></a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">遊戲介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">會員專區</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i>
              登入/註冊</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i>
                <span class="badge badge-dark">0</span></a>
            </li>
          </ul>
        </div>
    </nav>
    <div style="text-align: end;">

    </div>


  <div class="carousel">
  <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/1.png)"><div class="special">here's the word</div></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/2.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/3.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/4.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/5.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/6.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/7.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/8.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/9.png)"></div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/10.png)"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div id='app'>
  <div class="container">
    <p>徽章專區</p>
    <div class="row">
      <goodbadge v-for="(item, index) in goods" :imgu="item.imgurl" :pn="item.pname" :ppr="item.price"></goodbadge>
    </div>
  </div>


</div>
  <template id="badge">
    <div class="col-lg-3 col-6">
      <div class="card_self">
        <div class="imgcol"><img :src="imgu" alt=""></div>
        <div class="descriptioncol">{{pn}}<br>尺寸：直徑7.5cm<br>材質：金屬<br>{{"$"+ppr}}<br>
          <button @click="add(pn)">加入購物車</button>
        </div>
      </div>
    </div>
  </template>


  <!-- Swiper JS -->
  <script src="../js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });

    Vue.component('goodbadge',{
      props:['imgu','pn','ppr'],
      data:function(){
        return{
          add:function(price){
            alert(price);
          }
        }
      },
      template:'#badge'
    });

    var vm = new Vue({
      el:'#app',
      data:{
        goods:[
        {imgurl:"../img/goods/badge/1.png",
        pname:"布布徽章",
        price:81},
        {imgurl:"../img/goods/badge/2.png",
        pname:"四毛徽章",
        price:81},
        {imgurl:"../img/goods/badge/3.png",
        pname:"三眼徽章",
        price:81},
        {imgurl:"../img/goods/badge/4.png",
        pname:"四腳徽章",
        price:81},
        {imgurl:"../img/goods/badge/5.png",
        pname:"毛毛徽章",
        price:81},
        {imgurl:"../img/goods/badge/6.png",
        pname:"豬豬徽章",
        price:81},
        {imgurl:"../img/goods/badge/7.png",
        pname:"小蛙徽章",
        price:81},
        {imgurl:"../img/goods/badge/8.png",
        pname:"驚驚徽章",
        price:81},
        {imgurl:"../img/goods/badge/10.png",
        pname:"凹嗚徽章",
        price:81},
        {imgurl:"../img/goods/badge/9.png",
        pname:"Logo徽章",
        price:81},
        ],
      }
    })
  </script>
</body>
</html>
