<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="utf-8">
  <title>時空賊-周邊商品</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon.ico" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="../js/vue.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/shop.css">
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="../"><img src="../img/LOGO.png" alt="" style="height: 30px;"><img src="../img/title2.png" alt="" style="height: 30px;"></a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home/intro">遊戲介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/news">最新消息</a>
            </li>
            <% if (userName) { %>
              <li class="nav-item">
                <a class="nav-link" href="/member/profile"><i class="fa fa-user" aria-hidden="true"></i>會員專區</a>
              </li>
            <% } else  { %>
            <li class="nav-item">
              <a class="nav-link" href="/private/login"><i class="fa fa-user" aria-hidden="true"></i>
              登入/註冊</a>
            </li>
            <% } %>
            <li class="nav-item active">
              <a class="nav-link" href="/member/cart"><i class="fa fa-shopping-cart"></i>
                <span class="badge badge-dark" id="cart_n">0</span></a>
            </li>
          </ul>
        </div>
    </nav>
    <div style="text-align: end;">

    </div>

    <h3 style="color: white; margin-top: 10vh;">--最新商品--</h3>
  <div class="carousel">
  <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/1.png)">
          <div>
            <h4>布布徽章</h4>
            <h5>尺寸：直徑7.5cm</h5>
            <h5>材質：金屬</h5>
            <h4>NT$ 81</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/bag/2.png)">
          <div>
          <h4>帆布袋-B</h4>
          <h5>尺寸：30 x 36 cm (袋身)</h5>
          <h5>材質：棉、聚酯纖維</h5>
          <h4>NT$ 200</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/3.png)">
          <div>
            <h4>三眼徽章</h4>
            <h5>尺寸：直徑7.5cm</h5>
            <h5>材質：金屬</h5>
            <h4>NT$ 81</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/bag/4.png)">
          <div>
            <h4>帆布袋-D</h4>
            <h5>尺寸：30 x 36 cm (袋身)</h5>
            <h5>材質：棉、聚酯纖維</h5>
            <h4>NT$ 200</h4>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/5.png)">
          <div>
            <h4>毛毛徽章</h4>
            <h5>尺寸：直徑7.5cm</h5>
            <h5>材質：金屬</h5>
            <h4>NT$ 81</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/bag/6.png)">
          <div>
            <h4>帆布袋-F</h4>
            <h5>尺寸：30 x 36 cm (袋身)</h5>
            <h5>材質：棉、聚酯纖維</h5>
            <h4>NT$ 200</h4>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/7.png)">
          <div>
            <h4>小蛙徽章</h4>
            <h5>尺寸：直徑7.5cm</h5>
            <h5>材質：金屬</h5>
            <h4>NT$ 81</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/bag/8.png)">
          <div>
            <h4>小紫帆布袋</h4>
            <h5>尺寸：30 x 36 cm (袋身)</h5>
            <h5>材質：棉、聚酯纖維</h5>
            <h4>NT$ 200</h4>
            </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/badge/9.png)">
          <div>
            <h4>凹嗚徽章</h4>
            <h5>尺寸：直徑7.5cm</h5>
            <h5>材質：金屬</h5>
            <h4>NT$ 81</h4>
          </div>
        </div>
        <div class="swiper-slide" style="background-image:url(../img/goods/bag/10.png)">
          <div>
            <h4>主角帆布袋</h4>
            <h5>尺寸：30 x 36 cm (袋身)</h5>
            <h5>材質：棉、聚酯纖維</h5>
            <h4>NT$ 200</h4>
            </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

<div id='app'>
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" style="position: fixed; z-index: 12; left: 80%;">
    <div class="toast-header">
      <img src="../img/LOGO.png" class="rounded mr-2" alt="...">
      <strong class="mr-auto">訊息</strong>
      <small>來自_購物車</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{product_name}}已成功加入購物車
    </div>
  </div>
  <br>
  <br>

    <div class="find_goods">
    <label for="filter_shop">搜尋商品</label>
    <input type="text" name="" id="filter_shop" v-model="find_regex" placeholder="輸入關鍵字">
    </div>

    
  <div class="container">
    <hr style=" border: 2px solid white;">
    <h3 style="color: white;">--大徽章專區--</h3>
    <div class="row">
      <goodbadge v-for="(item, index) in badges" :imgu="item.imgurl" :pn="item.pname" :ppr="item.price" @childs="local" v-if="item.pname.includes(find_regex)"></goodbadge>
    </div>
    <hr style=" border: 2px solid white;">
    <h3 style="color: white;">--「猜猜我是誰」系列-帆布袋專區--</h3>
    <div class="row">
      <goodbag v-for="(item, index) in bags" :imgu="item.imgurl" :pn="item.pname" :ppr="item.price" @childs="local" v-if="item.pname.includes(find_regex)"></goodbag>
    </div>
    <hr style=" border: 2px solid white;">
    <h3 style="color: white;">--抱枕系列--</h3>
    <div class="row">
        <goodpillow v-for="(item, index) in pillows" :imgu="item.imgurl" :pn="item.pname" :ppr="item.price" @childs="local" v-if="item.pname.includes(find_regex)"></goodbag>
    </div>
  </div>

  <p v-once>{{initC()}}</p>

</div>


  <template id="badge">
    <div class="col-lg-3 col-6">
      <div class="card_self">
        <div class="good_title">大徽章系列</div>
        <div class="imgcol"><img :src="imgu" alt=""></div>
        <div class="container">
        <div class="descriptioncol">
          <p>{{pn}}</p>
          <p>尺寸：<br>直徑7.5cm</p>
          <p>材質：金屬</p>
          <p>{{"NT$ "+ppr}}</p>
          
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">數量</span>
            </div>
            <input type="number" class="form-control form-control-sm" v-model="amount" min="0">
          </div>
        </div>
      </div>
        <button @click="add(pn,ppr)">加入購物車</button>
      </div>
    </div>
  </template>

  <template id="bags">
    <div class="col-lg-3 col-6">
      <div class="card_self">
        <div class="good_title">「猜猜我是誰」系列</div>
        <div class="imgcol"><img :src="imgu" alt=""></div>
        <div class="container">
        <div class="descriptioncol">
          <p>{{pn}}</p>
          <p>尺寸：30 x 36 cm (袋身)</p>
          <p>材質：棉、聚酯纖維</p>
          <p>{{"NT$ "+ppr}}</p>
          
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">數量</span>
            </div>
            <input type="number" class="form-control form-control-sm" v-model="amount" min="0">
          </div>
        </div>
      </div>
        <button @click="add(pn,ppr)">加入購物車</button>
      </div>
    </div>
  </template>

  <template id="pillows">
    <div class="col-lg-3 col-6">
      <div class="card_self">
        <div class="good_title">抱枕系列</div>
        <div class="imgcol">
          <video alt="" :src="imgu" style="width: 80%;" muted @mouseover="hover_event($event.target)" @mouseleave="leave_event($event.target)">
            <source :src="imgu">
          </video>
        </div>
        <div class="container">
        <div class="descriptioncol">
          <p>{{pn}}</p>
          <p>尺寸：寬 45 × 高 45cm</p>
          <p>材質：棉、聚酯纖維</p>
          <p>{{"NT$ "+ppr}}</p>
          
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">數量</span>
            </div>
            <input type="number" class="form-control form-control-sm" v-model="amount" min="0">
          </div>
        </div>
      </div>
        <button @click="add(pn,ppr)">加入購物車</button>
      </div>
    </div>
  </template>


  <!-- Swiper JS -->
  <script src="../js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });

    Vue.component('goodbadge',{
      props:['imgu','pn','ppr'],
      data:function(){
        return{
          amount:0,
          add:function(pn, ppr){

            if(this.amount != 0 ){
              let objNew = {
              name : pn,
              price : ppr,
              amount : this.amount,
              sum : ppr * this.amount
            }
            this.$emit("childs", objNew, pn);
            }
          }
        }
      },
      template:'#badge'
    });
    Vue.component('goodbag',{
      props:['imgu','pn','ppr'],
      data:function(){
        return{
          amount:0,
          add:function(pn, ppr){
            if(this.amount != 0 ){
              let objNew = {
              name : pn,
              price : ppr,
              amount : this.amount,
              sum : ppr * this.amount
            }
            this.$emit("childs", objNew, pn);
            }
          }
        }
      },
      template:'#bags'
    });
    Vue.component('goodpillow',{
      props:['imgu','pn','ppr'],
      data:function(){
        return{
          amount:0,
          add:function(pn, ppr){
            if(this.amount != 0 ){
              let objNew = {
              name : pn,
              price : ppr,
              amount : this.amount,
              sum : ppr * this.amount
            }
            this.$emit("childs", objNew, pn);
            }
          },
          hover_event:function(ele){
            ele.play();
          },
          leave_event:function(ele){
            ele.pause();
          }
        }
      },
      template:'#pillows'
    });

    var vm = new Vue({
      el:'#app',
      data:{
        buythings:[],
        counthings:0,
        product_name:'',
        find_regex:'',
        now_test:/./,
        badges:[
        {imgurl:"../img/goods/badge/1.png",
        pname:"布布徽章",
        price:81},
        {imgurl:"../img/goods/badge/2.png",
        pname:"四毛徽章",
        price:81},
        {imgurl:"../img/goods/badge/3.png",
        pname:"三眼徽章",
        price:81},
        {imgurl:"../img/goods/badge/4.png",
        pname:"四腳徽章",
        price:81},
        {imgurl:"../img/goods/badge/5.png",
        pname:"毛毛徽章",
        price:81},
        {imgurl:"../img/goods/badge/6.png",
        pname:"豬豬徽章",
        price:81},
        {imgurl:"../img/goods/badge/7.png",
        pname:"小蛙徽章",
        price:81},
        {imgurl:"../img/goods/badge/8.png",
        pname:"驚驚徽章",
        price:81},
        {imgurl:"../img/goods/badge/9.png",
        pname:"凹嗚徽章",
        price:81}
        ],
        bags:[
        {imgurl:"../img/goods/bag/1.png",
        pname:"帆布袋-A",
        price:200},
        {imgurl:"../img/goods/bag/2.png",
        pname:"帆布袋-B",
        price:200},
        {imgurl:"../img/goods/bag/3.png",
        pname:"帆布袋-C",
        price:200},
        {imgurl:"../img/goods/bag/4.png",
        pname:"帆布袋-D",
        price:200},
        {imgurl:"../img/goods/bag/5.png",
        pname:"帆布袋-E",
        price:200},
        {imgurl:"../img/goods/bag/6.png",
        pname:"帆布袋-F",
        price:200},
        {imgurl:"../img/goods/bag/7.png",
        pname:"小黃帆布袋",
        price:230},
        {imgurl:"../img/goods/bag/8.png",
        pname:"小紫帆布袋",
        price:230},
        {imgurl:"../img/goods/bag/9.png",
        pname:"小藍帆布袋",
        price:230},
        {imgurl:"../img/goods/bag/10.png",
        pname:"主角帆布袋",
        price:230},
        ],
        pillows:[
          {imgurl:"../img/goods/pillow/1.mp4",
        pname:"大眼抱枕",
        price:690},
        {imgurl:"../img/goods/pillow/2.mp4",
        pname:"四腳抱枕",
        price:690},
        {imgurl:"../img/goods/pillow/3.mp4",
        pname:"豬豬抱枕",
        price:690},
        {imgurl:"../img/goods/pillow/4.mp4",
        pname:"小蛙抱枕",
        price:690},
        {imgurl:"../img/goods/pillow/5.mp4",
        pname:"四毛抱枕",
        price:690},
        {imgurl:"../img/goods/pillow/6.mp4",
        pname:"布布抱枕",
        price:690}
        ]
      },
      methods:{
        initC(){
          let tempc = 0;
          if(localStorage.getItem("cart_list")){
            this.buythings = JSON.parse(localStorage.getItem("cart_list"));
              this.buythings.forEach(function(){
                tempc += 1;
              });
              $('#cart_n').text(tempc);
              this.counthings = tempc;
              console.log(this.counthings);
          }
        },
        local(obj, pn){
            this.initC();
            this.product_name = pn;
            this.buythings.push(obj);
            localStorage.setItem("cart_list", JSON.stringify(this.buythings));
            this.counthings += 1;
            $('#cart_n').text(this.counthings);
            $('.toast').toast('show');
        }
      }
    })

 
  </script>
</body>
</html>
